.others {
  display: flex;
  justify-content: space-between;
}

.others-listing {
  display: flex;
  flex-direction: column;
}

.others-entry {
  width: 45rem;
  display: flex;
  margin-bottom: 1rem;
}

.others-entry-title {
  width: 7rem;
  margin-right: 1rem;
}

@media screen and (max-width: 1050px) {
  .others {
    flex-direction: column;
  }

  .others-entry {
    width: 100%;
    flex-wrap: wrap;
  }
}
